@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    function GetInfo() {

        function displayValues(data) {
            var ul = $("#computer");
            ul.empty();
            var li = document.createElement("li");
            li.appendChild(document.createTextNode(data.Computer.Name));
            ul.append(li);

            ul = $("#manufacturer");
            ul.empty();
            li = document.createElement("li");
            li.appendChild(document.createTextNode(data.Manufacturer.Name));
            ul.append(li);

            ul = $("#users");
            ul.empty();
            for (var i = 0; i < (data.Users.length); ++i) {
                li = document.createElement("li");
                li.appendChild(document.createTextNode(((data).Users)[i].Name));
                ul.append(li);
            }
        }

        // if server returns error it has 3 attempts to get info from server (needs when DB file is created)
        var attempt = 3;
        $.ajax({
            url: '/api/values',
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                console.log("GetInfo takes:");
                console.log(data);
                
                if (data != null)
                    displayValues(data);
            },
            error: function (x, y, z) {
                GetInfo(); // returned data can be not full. It needs to refresh data again
                if (attempt > 0) {
                    GetInfo();
                    --attempt;
                } else {
                    alert(x + '\n' + y + '\n' + z);
                }
            }
        });
    }

    function ClearInfo() {
        var ul = $("#computer");
        ul.empty();

        ul = $("#manufacturer");
        ul.empty();
        
        ul = $("#users");
        ul.empty();
    }
</script>

<div class="row">
    <div class="tab-content" style="text-align: center;">
        <table style="margin: 0 auto; width: 780px;">
            <tr>
                <td>
                    <div class="search-button">
                        
                        <input type="submit" value="Refresh" onclick="GetInfo()"/>
                        &nbsp;&nbsp;&nbsp;
                        <input type="submit" value="&nbsp;&nbsp;Clear&nbsp;&nbsp;" onclick="ClearInfo()"/>

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="templatemo_sidebar">
                        <div class="box-content">
                            <div id="resume" style="padding-top: 20px;">
                                <div class="timeline-section">
                                    <div class="about-site">
                                        <div id="fieldSets">
                                            <fieldset>

                                                <ul>
                                                    <li>
                                                        <div class="timelineUnit">
                                                            <h3 class="main-heading"><span style="line-height: 21px;">Computer name:</span></h3>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <ul class="border" id="computer"></ul>

                                                <ul>
                                                    <li>
                                                        <div class="timelineUnit">
                                                            <h3 class="main-heading"><span style="line-height: 21px;">Manufacturer name:</span></h3>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <ul class="border" id="manufacturer"></ul>

                                                <ul>
                                                    <li>
                                                        <div class="timelineUnit">
                                                            <h3 class="main-heading"><span style="line-height: 21px;">Users names:</span></h3>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <ul class="border" id="users"></ul>

                                            </fieldset>

                                            <script>GetInfo()</script>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        
        <div class="cleaner"></div>

    </div>
</div>
